@import "tailwindcss";

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(30, 41, 59, 0.8); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: rgba(20, 184, 166, 0.8); }

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
  white-space: nowrap;
}
